body {
  background-image: url("../images/clay-banks-mIghSJJfWOc-unsplash.jpg");
  min-height: 300px;
  margin-bottom: 50px;
}

header {
  margin: 50px 150px 50px 150px;
}

h1 {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 3rem;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
}
